<section class="section">
  <h1 class="title">Welcome!</h1>

  <p class="block">Welcome to this demo-application.</p>
  <p class="block buttons">
    <button (click)="authService.login()" class="button is-dark" [disabled]="authService.isAuthenticated">Login</button>
    <button (click)="authService.logout()" class="button is-light" [disabled]="!authService.isAuthenticated">Logout</button>
  </p>
  <ul class="block">
    <li><strong>Username:</strong> developer@studiohyperdrive.be</li>
    <li><strong>Password:</strong> ask someone who knows</li>
  </ul>
</section>
